.container {
	position: fixed;
	display: flex;
	justify-content: center;
	margin: 20px auto;
	bottom: 10px;
	width: 200px;
	color: white;
	border-radius: 5px;
	background-color: rgba(66, 145, 181, 0.651);
	gap: 50px;
}

.btn {
	cursor: pointer;
	background-color: rgb(68, 77, 94);
	color: white;
	border-radius: 5px;

}
